<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>{{ titre }}</title>
  <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='actions.js') }}"></script>
  <script type=text/javascript>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  </script>
  {{ bootstrap.load_css() }}
</head>

<body>
  <div class="container">
      <div class="row mb-3">
          <span class="col text-center">{{ titre }}</span>
      </div>
      {% for light in lights %}
        <div class="row mb-1">
            <div class="col text-center">
                <button class="btn switch center w-50"> SWITCH {{ light }} </button>
            </div>
        </div>
      {% endfor %}
  </div>

</body>

</html>
